@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer components {
  .container {
    @apply mx-auto my-0 max-w-4xl px-8;
  }
}

.header-link {
  @apply border-b-2 border-transparent px-1 py-0 text-white no-underline transition-all duration-300 hover:border-white hover:underline-offset-4;
}

@layer components {
  .header-link-active {
    @apply header-link !text-sky-500 hover:border-sky-500;
  }
}

.page-wrapper {
  @apply flex flex-col items-center justify-center
}

.page-heading {
  @apply my-4 text-2xl font-bold
}


/* SigIn section */

.card {
  @apply px-5 py-8 rounded-2xl sm:my-8 sm:mx-0  sm:w-[368px] xs:my-4 xs:w-[343px] border border-gray-200  
}

.label-signin-input {
  @apply block font-medium text-left mb-1 
}

.signin-input {
  @apply block mb-2 bg-[#f2f2f2] w-full py-2 px-4 rounded-lg border border-[#bbb]  
}

.signin-input-error {
  @apply signin-input !border-red-600 focus:outline-1 
}
